body {
    background-color: #7c7c7c;
}

.Titre {
    text-align: center;
    color: red;
    font-size: 20px;
}

/*Exemple CSS*/
.exemple {
    padding: 15px 20px;
    background-color: #00ffff;
    box-shadow:10px 10px 10px #0000ff;
    transition: all 2s;
}
.exemple:hover {
    background-color: #0000ff;
    box-shadow:10px 10px 10px #00ffff;
}


/*Container pour JS*/
.container {
    padding: 10px 10px;
    background-color: #c2c2c2;
    border-radius: 10px;
    box-shadow: 10px 10px 0 #111;
    transition: all 1s;
}
.container:hover {
    box-shadow: 6px 6px 0 #111;
}